<mat-form-field
  class="form-field no-hint"
  appearance="outline"
  aria-label="タイトルを入力"
>
  <mat-label>タイトル</mat-label>
  <input
    matInput
    autocomplete="off"
    aria-label="タイトル"
    [(ngModel)]="title"
  />
</mat-form-field>

<form (submit)="addTag(tagInput, $event)">
  <mat-form-field
    class="form-field tag-form-field"
    appearance="outline"
    aria-label="タグを入力"
  >
    <mat-label>タグ</mat-label>
    <input
      #tagInput
      matInput
      autocomplete="off"
      type="text"
      aria-label="タグ"
      [disabled]="tags.length >= this.MAX_TAG_LENGTH"
    />
    <button
      mat-icon-button
      matSuffix
      color="accent"
      type="submit"
      [disabled]="isDisabledAddTag(tagInput)"
    >
      <mat-icon class="send-icon">send</mat-icon>
    </button>
    <mat-hint>タグの上限は {{ MAX_TAG_LENGTH }} つです</mat-hint>
    <mat-hint align="end">{{ tags.length }} / {{ MAX_TAG_LENGTH }}</mat-hint>
  </mat-form-field>
</form>

<nav class="nav">
  <mat-button-toggle-group
    class="toggle-buttons"
    name="editor-navigation-content-toggle"
    aria-label="エディタのナビゲーション切り替えボタン"
    [(value)]="navLeftViewMode"
  >
    <mat-button-toggle value="tags" matTooltip="タグ">
      <mat-icon>sell</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="settings" matTooltip="設定">
      <mat-icon>settings</mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>

  <div class="nav-content">
    <mat-chip-list class="nav-tags" *ngIf="navLeftViewMode === 'tags'">
      <mat-chip
        *ngFor="let tag of tags; let i = index"
        (removed)="removeTag(i)"
      >
        <span>{{ tag }}</span>
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
    </mat-chip-list>

    <div *ngIf="navLeftViewMode === 'settings'" class="nav-settings">
      <mat-form-field
        appearance="outline"
        class="nav-form-field"
        style="width: 160px"
      >
        <mat-label>Font Family</mat-label>
        <mat-select [(value)]="selectedContentInputStyleIndex">
          <mat-option
            *ngFor="let style of CONTENT_INPUT_STYLES; let i = index"
            [value]="i"
          >
            {{ style.fontFamily }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="nav-form-field">
        <mat-label>Converter</mat-label>
        <mat-select
          [value]="selectedMd2HtmlConverterIndex"
          (valueChange)="selectMd2HtmlConverter($event)"
        >
          <mat-option
            *ngFor="let data of md2HtmlConverterDataset; let i = index"
            class="converter-option"
            [value]="i"
          >
            {{ data.label }}
            <span [class]="data.iconClass"></span>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <mat-button-toggle-group
    class="toggle-buttons"
    name="editor-view-settings"
    aria-label="エディターの設定"
    [(value)]="contentFormViewMode"
  >
    <mat-button-toggle value="both" matTooltip="エディターとプレビュー">
      <mat-icon>view_column_2</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="editor" matTooltip="エディター">
      <mat-icon>edit</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="previewer" matTooltip="プレビュー">
      <mat-icon>visibility</mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>
</nav>

<mat-form-field
  class="form-field content-form-field"
  appearance="outline"
  aria-label="本文を入力"
>
  <mat-label class="content-form-field-label">本文（Markdown）</mat-label>

  <textarea
    *ngIf="
      contentFormViewMode === 'both' || contentFormViewMode === 'editor';
      else dummyContentTextarea
    "
    #contentTextarea
    class="content-textarea"
    matInput
    spellcheck="false"
    autocomplete="off"
    aria-label="本文"
    (input)="convertMdContent2Html($event)"
    [style]="CONTENT_INPUT_STYLES[selectedContentInputStyleIndex]"
  ></textarea>

  <ng-template #dummyContentTextarea>
    <textarea matInput [value]="content ? ' ' : ''" hidden></textarea>
  </ng-template>

  <div
    *ngIf="
      contentFormViewMode === 'both' || contentFormViewMode === 'previewer'
    "
    #contentPreviewer
    class="content-previewer markdown-body"
    [innerHTML]="contentPreview"
  ></div>
</mat-form-field>

<div class="bottom-nav">
  <button
    color="accent"
    mat-button
    (click)="createNews()"
    [disabled]="savingNews || (!title && !content)"
  >
    作成
  </button>
</div>
