<header class="header">
  <mat-toolbar class="header-view" color="primary">
    <button
      mat-icon-button
      aria-label="Side nav toggle"
      (click)="hasOpenedDrawer = !hasOpenedDrawer"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span class="heading">東北TECH道場ホームページ管理画面</span>
    <span style="flex: 1"></span>
  </mat-toolbar>
</header>

<mat-drawer-container class="body">
  <mat-drawer class="drawer" #drawer mode="side" [opened]="hasOpenedDrawer">
    <mat-nav-list class="drawer-list">
      <a mat-list-item routerLink="/" routerLinkActive="active">
        <mat-icon matListIcon>home</mat-icon>
        <span matLine>ホーム</span>
      </a>
      <a mat-list-item routerLink="/news" routerLinkActive="active">
        <mat-icon matListIcon>newspaper</mat-icon>
        <span matLine>お知らせ</span>
      </a>
      <a mat-list-item routerLink="/blog" routerLinkActive="active">
        <mat-icon matListIcon>rss_feed</mat-icon>
        <span matLine>ブログ</span>
      </a>
    </mat-nav-list>
  </mat-drawer>

  <main class="main">
    <router-outlet></router-outlet>
  </main>
</mat-drawer-container>

<footer></footer>
